doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1= title
    div.global
        p The site is broken and it's #{faute}'s fault, and if you want to know why, ask... #{faute}!
            
