@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
    height:100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('/img/background.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto';
    color: #fff;
}

.global {
    display: flex;
    justify-content: center;
    width: 100%;

    
}

.table {

    max-height: 80dvh;
    max-width: 1200px;

    overflow-y: auto;
    overflow-x: auto;
    
    width: 80%;
    border-radius: 10px;
    
    border: 1px solid rgb(37, 37, 37);
    box-shadow: 0px 0px 10px black;
}
    .table::-webkit-scrollbar {
        display: none;
    }

h1 {
    text-align: center;
    justify-content: center;

    font-size: 2.7em;
    text-shadow: 0px 3px 5px black;
}

@media screen and (max-width: 760px) {
        h1 {
            font-size: 2em;
        }
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: -1px;
    background-color: rgb(75, 73, 73);
    font-size: 20px;

    text-shadow: 0px 1px 1px black;
    box-shadow: 10px 10px 20px black;
}

.maps-content ul {
    padding-inline-start: 0;
}

.maps-content ul li {
    margin-left: 40px;
}

.rank-title {
    list-style: none;
    font-size: 25px;
    font-weight: bold;
}

th, td {
    padding: 8px;
    text-align: left;
}

.thRank, .thTime, .thClose, .Umap {
    text-align: center;
}

thead {
    background-color: black;
    position: sticky;
    top: -1px;
}

tr:nth-child(even) {
    background-color: #30313188;
}

tr {
    cursor: pointer;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

th {
    color: #fff;
    font-size: 1.1em;
}

td {
    color: #e0f7fa;
}

td.tdclose {
    text-align: center;
}

td.maps {
    text-align: left;
}
.tdRank, .tdTime, .tdClose, .tdUmap {
    text-align: center;
}

td:first-child {
    font-weight: bold;
    color: #ffeb3b;
}

.maps-content {
    display: none;
}

.maps-toggle {
    cursor: pointer;
}

#loader {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}

#spanLoader {
    position: absolute;
    top: 60%;
    transform: translateY(-100%);
    font-size: 25px;
    border-radius: 5px;
    background-color: black;
    padding:10px;
}
